{% include "header.html" %}
<!-- Page Header-->
<header
    class="masthead"
    style="background-image: url('static/images/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>FizzBuzz Blog.</h1>
                    <span class="subheading"
                        >FizzBuzz problem is an elementary problem in computer
                        programming.</span
                    >
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    <strong>FizzBuzz Blog.</strong> is the personal blogging
                    website for cutting-edge digital technology, science and
                    innovation, cloud computing and web technologies.
                </p>
                <p>
                    The name of the blog is inspired by the popular programming
                    problem - FizzBuzz, which is taught to the novice
                    programmers in the basic foundation course of programming.
                </p>
                <p>
                    In today's world, technology, science innovation and
                    artificial intelligence are growing in a lighting speed. The
                    idea flows in rapid pace. FizzBuzz Blog. is the place where
                    I like to share my ideas, my growth journey to the world, so
                    that, the next-gen can learn rapidly and grow simulteneously
                    with the ever-changing technologies.
                </p>
                <p><strong>Happy Reading ...</strong></p>
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}
